<!DOCTYPE html>
<html>
    <head>
        <title>VPI Web Page</title>
        <link rel="stylesheet" href="../static/css/uikit.css">
        <link rel="stylesheet" href="../static/css/addon.css">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/index.modern.js"></script>
        <script src="../static/js/magic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <style>

    body {
    background-image: url('/static/img/bgred.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    }
    </style>

    <body class="bgimage">


      <div class="uk-container uk-padding" style="background: rgba(255,255,255,0.1); color: black;">
          <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">

            <div class="uk-width-auto">
              <a href="/cuemode" class="alarge">CUE</a>
              <a href="/" class="alarge">MANUAL</a>
              <a href="/cueeditmode" class="alarge">CUE EDIT</a>
            </div>
            <div class="uk-width-expand uk-text-right"><img src="/static/img/logo.png" alt="" style="width: 40px; height: auto;"></div>
          </div>
      </div>


      <div class="uk-container uk-margin-bottom">
        <div class="uk-width-1-1"><h3 style="color: white;">CUE Edit POINTS</h3></div>

        <div class="uk-grid uk-child-width-1-1@s uk-child-width-1-1  uk-grid-large uk-grid-row-small" id="loadCues">
          <!-- here goes the cue -->
        </div>

      </div>


    </body>



</html>

<script>
$( document ).ready(function() {



var delayInMilliseconds = 1000; //1 second



loadCues();

function sendGo(val){
  console.log("lllll: " + val);
}

function loadCues(){
  var cues = $('#numFiles').val();
  var txt = "";
  let txtSteps = [];
  let newB = "";

    $.get('../static/cue.txt', function(data) {

      var lines = data.split('\n');
      for(var line = 0; line < lines.length; line++){
        if(lines[line] != ""){


        var btntxt = lines[line].split(':');

        var btntxtTrim = btntxt[1].replace(/^\s+|\s+$/gm,'');
        var modus = btntxtTrim.substring(0, 1);
        
        //console.log(lines[line]);
        newB += '<div><a href="/readfile/'+line+'"';
        newB += 'class="';

        if(modus == "L"){
          newB += ' lMode ';
        }

        newB += ' btn uk-button uk-button-secondary uk-button-large uk-width-1-1">';
        newB += lines[line];
        newB += '</a></div>';
        //$( newB  ).appendTo( "#loadCues" );
        }


      }

      $("#loadCues").html(newB);

      /*
      var newB = '<div data-order="'+i+'"><a href="';
      newB += data + '" ';
      newB += 'class="gB btn uk-button uk-button-secondary uk-button-large uk-width-1-1">';
      newB += data + " : " + i;
      newB += '</a></div>';
      $( newB  ).appendTo( "#loadCues" );
      */
    });

  }




}); // END JQ
</script>
