<!DOCTYPE html>
<html>
    <head>
        <title>VPI Web Page</title>
        <link rel="stylesheet" href="/static/css/uikit.css">
        <link rel="stylesheet" href="/static/css/addon.css">
        <script src="/static/js/index.modern.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/magic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <style>

    body {
    background-image: url('/static/img/bgblue.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    }
    </style>

    <body class="bgimage">


      <div class="uk-container uk-padding" style="background: rgba(255,255,255,0.1); color: black;">
          <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">
            <div class="uk-width-auto"><a href="/cueeditmode" class="alarge">CUE EDIT</a>  <a href="/" class="alarge">MANUAL</a></div>
            <div class="uk-width-expand uk-text-right"><img src="/static/img/logo.png" alt="" style="width: 40px; height: auto;"></div>
          </div>
      </div>


      <div class="uk-container uk-margin-bottom">
        <div class="uk-width-1-1"><h3 style="color: white;">CUE POINTS</h3></div>

        <div class="uk-grid uk-child-width-1-2@s uk-child-width-1-1  uk-grid-large uk-grid-row-small" id="loadCues">
          <!-- here goes the cue -->
        </div>

      </div>

      <input type="hidden" value="{{msg}}" id="numFiles">

    </body>



</html>

<script>
$( document ).ready(function() {



var delayInMilliseconds = 1000; //1 second



loadCues();

function sendGo(val){
  console.log("lllll: " + val);
}

function loadCues(){
  var cues = $('#numFiles').val();
  var txt = "";
  let txtSteps = [];
  let newB = "";

    $.get('static/cue.txt', function(data) {
      var ct = 1;
      var lines = data.split('\n');
      for(var line = 0; line < lines.length; line++){
        //var btntxt = trim(lines[line]);
        //console.log("Line: " + lines[line]);
        var btntxt = lines[line].split(':');
        console.log("Button: " + btntxt);
        //console.log(lines[line]);
        if(lines[line] != ""){
          newB += '<div><a href="';
          newB += btntxt[1] + '" ';
          newB += 'class="gB btn uk-button uk-button-secondary uk-button-large uk-width-1-1">';
          newB += btntxt[0];
          newB += '</a></div>';
        }
        if(ct % 2){
          newB += "<div><hr></div><div><hr></div>";
        }

        ct++;
      }

      $("#loadCues").html(newB);

      /*
      var newB = '<div data-order="'+i+'"><a href="';
      newB += data + '" ';
      newB += 'class="gB btn uk-button uk-button-secondary uk-button-large uk-width-1-1">';
      newB += data + " : " + i;
      newB += '</a></div>';
      $( newB  ).appendTo( "#loadCues" );
      */
    });

  }




}); // END JQ
</script>
