<!DOCTYPE html>
<html>
    <head>
        <title>VPI Web Page</title>
        <link rel="stylesheet" href="/static/css/uikit.css">
        <link rel="stylesheet" href="/static/css/addon.css">
        <script src="/static/js/index.modern.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/magic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <style>

    body {
      background-image: url('/static/img/bgred.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      min-height: 100vh;
    }
    </style>

    <body class="bgimage edit">

      <div class="uk-container uk-padding" style="background: rgba(255,255,255,0.1); color: black;">
          <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">
            <div class="uk-width-1-2"><a href="/cuemode" class="alarge">CUE</a>  <a href="/" class="alarge">MANUAL</a></div>
            <div class="uk-width-1-2 uk-text-right"><img src="/static/img/logo.png" alt="" style="width: 40px; height: auto;"></div>
          </div>
      </div>

      <div class="uk-container">
      <div class="buttons">
        <h3 style="text-transfo">Edit Cue: {{msg}}</h3>
        <h4>Current Value: {{msg}}</h4>
        <input type="hidden" value="{{msg}}" id="txtval">

        <label>Speed:</label>
        <input type="number"
               value=""
               id="fS"
               name="speed"
               class="large"
               min="10" max="999"
               placeholder="speed">

        <label>Direction: CW / CCW</label>
        <select name=""
                id="fD"
                class="large">
          <option value="0">CCW</option>
          <option value="1">CW</option>
        </select>

        <label>Angle:</label>
        <input type="number"
               value=""
               id="fA"
               name="angle"
               class="large"
               min="0" max="1080"
               placeholder="Angle">

               <input type="hidden" value="{{txtfile}}" disabled id="fF">

          <div class="error" id="errorMsg" style="color: blue; padding: 10px; font-size: 20px; line-height: 20px;"></div>

          <button id="btnUpdate">Update</button>

      </div>
    </div>
    </body>
</html>
