<!DOCTYPE html>
<html>
    <head>
        <title>VPI Web Page</title>
        <link rel="stylesheet" href="/static/css/uikit.css">
        <link rel="stylesheet" href="/static/css/addon.css">
        <script src="/static/js/index.modern.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/magic.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <style>

    body {
    background-image: url('/static/img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    }
    </style>

    <body class="bgimage">


      <div class="uk-container uk-padding" style="background: rgba(255,255,255,0.1); color: black;">
          <div class="uk-flex uk-flex-wrap uk-flex-wrap-around">
            <div class="uk-width-auto">
              <a href="/cuemode" class="alarge">CUE</a>
              <a href="/cueeditmode" class="alarge">CUE EDIT</a>
              <a href="/runmanual" class="alarge">TEST RUN</a>
            </div>
            <div class="uk-width-expand uk-text-right"><img src="/static/img/logo.png" alt="" style="width: 40px; height: auto;"></div>
          </div>
      </div>

      <div class="uk-container uk-margin-bottom">
        <div class="uk-width-1-1"><h3 style="color: white;">ROTATE</h3></div>
          <div class="uk-grid uk-child-width-1-4@s uk-child-width-1-2 uk-child-width-1-4@m uk-grid-large uk-grid-row-small">
            <div><a href="L000" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">0</a></div>
            <div><a href="L090" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">90</a></div>
            <div><a href="L180" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">180</a></div>
            <div><a href="L270" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">270</a></div>
          </div>
        </div>
      </div>

      <div class="uk-container uk-margin-bottom">
        <div class="uk-width-1-1"><h3 style="color: white;">CALIBRATE</h3></div>
          <div class="uk-grid uk-child-width-1-4@s uk-child-width-1-2 uk-child-width-1-4@m uk-grid-large uk-grid-row-small">
            <div><a href="D01010001" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">+1</a></div>
            <div><a href="D01010010" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">+10</a></div>
            <div><a href="D01000001" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">-1</a></div>
            <div><a href="D01000010" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">-10</a></div>
            <div><a href="R" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">RESET</a></div>
            <div><a href="S" class="gB uk-button uk-button-secondary uk-button-large uk-width-1-1">STOP</a></div>
          </div>
        </div>
      </div>

    </body>

</html>
